// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-yellow {
  background-color: #FFFFE1;
}

.chat-box{
  border-left: #DDDDDD 1rem solid;
  padding-left: 12px;
}
